/* common styles */
body {
  background-color: #0d0b28;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

/* navigation wrapper */
.navigation-wrapper {
  height: 190px;
  background-color: #11122b;
  color: #cbcbcb;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px;
}

/* fix misnamed property and typo */
.left-column {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-hours-wrapper {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

/* fix wrong property name */
.left-column .contact-hours-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.icon i {
  font-size: 2em;
  margin-right: 15px;
}

/* Menu links */
.menu {
  display: flex;
  gap: 15px;
  padding: 10px;
}

.menu a {
  color: purple;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

.address-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
